*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0077ff;
  --border-color: #aaa;
  --main-text-color: #000000;
  --sub-text-color: #666666;
  --primary-button-color: #000000;
  --secondary-button-color: #e0e0ff;
  --link-color: #000000;
  --link-hover-color: #00000011;
  --button-hover-color: #0077ff;
}


.icon,
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
