@font-face {
  font-family: "iconfont"; /* Project id 4875864 */
  src: url('iconfont.woff2?t=1743320137208') format('woff2'),
       url('iconfont.woff?t=1743320137208') format('woff'),
       url('iconfont.ttf?t=1743320137208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrdown:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-yuanhuan:before {
  content: "\e75c";
}

.icon-rect:before {
  content: "\e628";
}

.icon-lingxing:before {
  content: "\e62d";
}

.icon-five-shape:before {
  content: "\e63c";
}

.icon-shanxing:before {
  content: "\e61c";
}

.icon-wenben:before {
  content: "\e649";
}

.icon-24gf-circle:before {
  content: "\ea9f";
}

.icon-tx-fill-tixing:before {
  content: "\e64c";
}

.icon-tx-fill-pinghangsibianxing:before {
  content: "\e64d";
}

.icon-line:before {
  content: "\e6bb";
}

.icon-ellipse-fill:before {
  content: "\e6bc";
}

.icon-octagon-line:before {
  content: "\e76b";
}

.icon-heart-3-fill:before {
  content: "\e818";
}

